body{
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    margin: 0;
    padding: 0;
}
.main{
    background-image: url(/asst/image/netflix\ background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1400px,100vw);
    height: 80vh;
    position: relative;
}
.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
nav img{
    width: 150px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.text{
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFFFFF;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}
.text> :nth-child(1){
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.text> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.text> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 11px;
    background-color: rgb(46, 44, 44);
}
.selection-btn{
    padding: 6px 15px;
    font-weight: bolder;
    background-color: transparent;
    color: #FFFFFF;
    border-radius: 5px;
    border-color: #616161;
    z-index: 100;
}
.sign-btn{
    padding: 6px 12px;
    font-weight: bolder;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #E50914;
}
.get-btn{
    padding: 15px 24px;
    font-weight: bolder;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: #E50914;
    font-size: 20px;
    border-color: transparent;
}
.sign-btn:hover{
    cursor: pointer;
    background-color: #990F12;
}
.get-btn:hover{
    cursor: pointer;
    background-color: #990F12;
}
.main input{
    padding: 15px 24px;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: rgba(22, 22, 22, 0.23);
    border: 1px solid rgba(249, 246, 246, 0.5);
}
.first{
    background-color: black;
    justify-content: center;
    margin: 11px auto;
    color: #FFFFFF;
}
.section-img1{
    position: relative;
}
.section-img1 img{
    width: 59vw;
    position: relative;
    z-index: 10;
}
.section-img1 video{
    position: absolute;
    top: 142px;
    right: 112px;
    width: 672px;
}
.first .container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.first .container> div{
    display: flex;
    flex-direction: column;
}
.first .container> div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.first .container> div :nth-child(2){
    font-size: 21px;
    font-weight: bold;
}
.separation1{
    width: 100%;
    height: 11px;
    background-color: rgb(46, 44, 44);
}
.second{
    background-color: black;
    justify-content: center;
    margin: -11px auto;
    color: #FFFFFF;
}
.second .container2{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}
div .text2{
    display: flex;
    flex-direction: column;
}
.text2 :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.text2 :nth-child(2){
    font-size: 21px;
    font-weight: bold;
}
.separation1{
    width: 100%;
    height: 11px;
    background-color: rgb(46, 44, 44);
}
.third{
    background-color: black;
    justify-content: center;
    margin: 11px auto;
    color: #FFFFFF;
}
.section-img3{
    position: relative;
}
.section-img3 img{
    width: 55vw;
    position: relative;
    z-index: 10;
}
.section-img3 video{
    position: absolute;
    top: 78px;
    right: 183px;
    width: 480px;
}
.third .container3{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}
.third .container3> div{
    display: flex;
    flex-direction: column;
}
.third .container3> div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.third .container3> div :nth-child(2){
    font-size: 21px;
    font-weight: bold;
}
.separation1{
    width: 100%;
    height: 11px;
    background-color: rgb(46, 44, 44);
}
.forth{
    background-color: black;
    justify-content: center;
    margin: -11px auto;
    color: #FFFFFF;
}
.forth .container4{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}
div .text4{
    display: flex;
    flex-direction: column;
}
.text4 :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
.text4 :nth-child(2){
    font-size: 21px;
    font-weight: bold;
}
.separation1{
    width: 100%;
    height: 11px;
    background-color: rgb(46, 44, 44);
}
.fifth{
    background-color: black;
    justify-content: center;
    margin: -11px auto;
    color: #FFFFFF;
}
.fifth h2{
    margin: 11px 602px;
}
.button2{
    margin-left: 345px;
    background: #414141;
    margin-top: 7px;
    color: #FFFFFF;
}
.button2:hover{
    cursor: pointer;
    background:#616161;
}
.button2 nav{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    width: 845px;
}
.button2 nav> span{
    font-size: 24px;
    font-weight: 400;
    position: relative;
}
.plus img{
    width: 63px;
    position: relative;
}
.last{
    font-size: 20px;
    margin-left: 417px;
    
}
.finalbtn{
    margin-left: 467px;
    margin-top: 31px;
    padding-bottom: 28px;
}
.email{
    padding: 15px 24px;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: rgba(22, 22, 22, 0.23);
    border: 1px solid rgba(249, 246, 246, 0.5);
}
footer{
    background-color: black;
    justify-content: center;
    margin: 11px auto;
    color: #FFFFFF;
    padding-top: 48px;
    padding-left: 135px;
    padding-bottom: 60px;
}
u{
    cursor: pointer;
}
.colomn{
    padding: 20px;
    margin-left: -38px;
}
table{
    width: 100%;
    border-spacing: 10px;
    border-collapse: collapse;
}
td {
    padding: 19px;
}
.languageselect select{
    background: transparent;
    color: #FFFFFF;
    padding-right: 1.75rem;
    padding-bottom: 0.375rem;
    padding-top: 0.375rem;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 24px;
}
.text5{
    margin-bottom: -11px;
    font-size: 14px;
    font-weight: 400;
}